.form-fields {
    width: 200px;
    border: 1px solid;
    border-radius: 3px;
    display: block;
    padding: 10px;
    margin: 10px;
}
.play-btn {
    background-color: goldenrod;
    border: 1px solid;
    padding: 5px;
    width: 200px;
    height: 30px;
    cursor: pointer;
}